body {
    font-family: Helvetica;
    margin: -15px;
    padding: 0;
    border: 0;  
}
.top-container {
    background-image: url('../IMG/bg_bottom_header.gif');
    height: 35px;
    width: 100%;
    padding: 5px 222px;
}
.link ul li {
    float: left;
    margin-left: 50px;
    list-style-type:none;
}
.link ul li a{
    color: white;
    cursor: pointer;
    text-decoration:none;
}
.header {
    height: 150px;
    width: 100%;
    background: #0d4c8f;
    color: red;
}

.logo {
    padding-left: 325px;
    float: left;
    margin-left: -102px;
}

.img-header {
    padding-left: 500px;
    padding-top: 47px;
}
.img-header img {
    padding-left:80px;
}
.img2-header {
    padding-left: 943px;
    margin-top: -116px;
} 
.img2-header img {
    padding-left: 20px;
}
.bottom-header {
    background-image: url('../IMG/bg_bottom_header.gif');
    width: 1024px;
    margin-top: 77px;
    margin-left: 212px;
    height: 51px;
    border-radius: 5px;
}
.danhmuc {
    color: #0B4C90;
    font-size: 16px;
    background: #f7eb0f;
    height: 40px;
    width: 200px;
    line-height: 40px;
    text-align: center;
    margin-left: -365px;
    margin-top: 5px;
    float: left;
}
.form-search {
    width: 555px;
    height: 40px;
    float: left;
    margin-top: 5px;
    background: #fff;
    margin-left: -145px ;
    border-radius: 14px;
}
.input-text {
    width: 496px;
    height: 34px;
    float: left;
    border-radius: 14px;
}
.button {
    background-image: url('../IMG/btn_search.jpg');
    width: 55px;
    height: 40px;
    float: left;
    border-radius: 14px;
}
.cart {
    margin-left:36px;
    margin-top:13px;
    float: left;
    color:white;
    font-size:1.2em;
}
.cart img {
    width: 55px;
    height: 40px;
    margin-left:13px;
    margin-top:-8px;
    border-radius: 6px;
    float: right;
 }

.footer-left{
    position:fixed;
    top:180px;
    left:0px;
}

.footer-right{
    position:fixed;
    top:180px;
    right:0px;
}
.footer-container {
    background: #0d4c8f;
    margin-top: 100px;
    width: 100%;
    height: 200px;
}

.footer-top {
    background-image: url('../IMG/bg_bottom_header.gif');
    width: 1024px;
    margin-top: -223px;
    margin-left: 214px;
    height: 51px;
    border-radius: 5px;
}
.footer-top p{
    float:left;
    color:white;
    font-size:23px;
    margin-top:-166px;
    margin-left:-217px;
}
.clear_box {
    margin-left: 207px;
    width: 1024px;
    height: 254px;
    font-size: 12px;
    margin-top: 192px;
}
.clear_box_img {
    float: right;
    margin-top: -189px;
}
.address ul li {
    list-style-type: none;
    color: white;
    padding-top: 70px;
    padding-left: 207px;
    float: left;
}
.dmsp {
    background: white;
    height: 436px;
    width: 202px;
    position: absolute;
    top: 150px;
    left: 199px;
    border: 1.5px solid #17218b;
    border-radius: 5px;
}

    .dmsp img {
        border-radius: 5px;
        margin-left: 2px;
        margin-top: -2px;
    }
.dm ul li {
    margin-left: -25px;
    margin-top: 20px;
    list-style-type: none;
   
}
.dm ul li a{
    color:#044a90;
     cursor: pointer;
    text-decoration: none;
}

.dm img {
    float: left;
    margin-top: -4px;
    margin-right: 10px;
}
.text1 {
    position: absolute;
    top: 14px;
    left: 12px;
    color: #044a90;
}